body {
  background-color: #eaedee;
}

/* contact button styling*/
#myBtn {
  background-color: #2b2d30;
  color: rgb(100, 100, 100); 
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 4em;
  width: 24.33%;
  padding: 1% 0%;
  position: relative;
  left: 39.33%;
  top: 200px; 
  cursor: pointer;
}

#myBtn:hover {
  color:  rgb(12, 108, 172);
  transition-duration: .4s;
  border-bottom: 4px solid rgb(12, 108, 172);
  color: rgb(36, 36, 36);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2%;
  position: fixed;
  top: 0;
  left: 33.33%;
  vertical-align: middle;
  background-color: #27292b;
  width: 33.33%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: rgb(219, 219, 219);
  float: right;
  font-size: 28px;
  padding-right: 2%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  transition-duration: .4s;
  color: rgb(0, 105, 190);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: rgb(158, 158, 158);
}

.modal-body {padding: 2px 16px;}

/* .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */

/* Add Animation */
@-webkit-keyframes slideIn {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/* styling for contact form */

/* add some space between form fields */
input {
  margin-top: 1%;
  margin-bottom: 5%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(179, 179, 179);
  width: 100%;
  padding: 12px;
}

input:hover {
  border-bottom: 1.5px solid rgb(86, 115, 139);
  transition-duration: .4s;
}

input:focus {
  border-bottom: 1.5px solid rgb(73, 149, 211);
  transition-duration: .2s;
}
/* Style inputs, select elements and textareas */
input[type=text], select{
  
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}


input:focus[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}

/* style the email input element */

input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}

#message-area {
  background-color: #2b2d30;
}

#message-area:hover {
  background-color: #464a50;
  transition-duration: .4s;
}

input[type=message]{
  width: 100%;
  padding: 24px;
  height: 8em;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #f2f2f2;
}

#send {
  margin-top: 15px;
  background-color: rgb(19, 20, 22); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#send:hover {
  background-color: rgb(0, 124, 207);
  transition-duration: .4s;
}
